* {
    margin: 0;
    padding: 0;
    font-family: 'Karla', sans-serif;
    /*box-sizing: border-box;*/
}
body, html {
    height: auto;
}
.gridmain {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.main_omne {
    position: relative;
    height: auto;
}
.main_omne h1, .second_zaluby h1, .third_school h1{
    text-align: center;
    padding: 50px 0;
    font-size: 45px;
}
.main_omne p, .second_zaluby p, .third_school p {
    position: relative;
    text-align: center;
    padding: 0 100px 50px;
    font-size: 18px;
}
.main_omne p::before, .third_school p::before, .second_zaluby p::before {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    border-bottom: solid 3px black;
}
.profile_image {
    background-image: url(daniel.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    margin: 10% 50%;
    transform: translateX(-50%);
}
.main_image {
    background-image: url(img1.jpg);
    background-position: center;
}

/*--------------------------------second page------------------------------------*/
.gridsecond {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
}
.second_image {
    position: relative;
    background-image: url(z2.jpg);
    background-size: cover;
    background-position: center;
    height: 600px;
}
.second_image::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, .6);
    z-index: 1;
    min-width: 100%; 
    min-height: 100%;
}
.bg_vid {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 90%; 
    height: 90%;
    background-position: center;
    margin: 5% 5% 0;
    z-index: 2;
}
.second_zaluby {
    position: relative;
    padding-bottom: 100px;
}

/*--------------------------------------third page------------------------------------*/

.gridthird {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.third_school {
    position: relative;
}
.third_image {
    background-image: url(school.JPG);
    background-size: cover;
}
.rozvrhhodin{
    margin: 100px auto;       	        
}
td{
  border: solid 1px black;
  padding: 10px; 
}
table{
	 border-collapse: collapse;
}



/*sirka mensia ako 1000px uz pojde pod seba*/
@media (max-width: 1000px) {
    .gridmain, .gridsecond, .gridthird {
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
    }
    
    .main_image, .third_image {
        grid-row: 1/2;
        height: 250px;
    }
    .second_image {
        height: 300px;
    }
    .main_omne p, .second_zaluby p, .third_school p {
        padding: 0 25px 20px;
    }
    td{
        padding: 5px; 
    }
}